# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor/OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Builds
/dist
/build
/.next
/.nuxt
/.output
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Misc
*.pem
*.key
*.crt
